html, body {
	font-family: 'Arial';
	margin: 20;
	padding: 10;
	height: 100%;
	width: 100%;
	color: #444;
}

.simple-little-table table {
    border-collapse: collapse;
}

.simple-little-table th {
    color: #ffebcd;
    background: #3b4646;
    cursor: pointer;
}

.simple-little-table td,
.simple-little-table th {
    height: 40px;
    text-align: center;
    border: 2px solid #846868;
}

.simple-little-table tbody tr:nth-child(even) {
    background: #e3e3e3;
}

th.sorted[data-order="1"],
th.sorted[data-order="-1"] {
    position: relative;
}

th.sorted[data-order="1"]::after,
th.sorted[data-order="-1"]::after {
    right: 8px;
    position: absolute;
}

th.sorted[data-order="-1"]::after {
	content: "▼"
}

th.sorted[data-order="1"]::after {
	content: "▲"
}

a.button15 {
	display: inline-block;
	font-family: arial,sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: rgb(68,68,68);
	text-decoration: none;
	user-select: none;
	padding: .2em 1.2em;
	outline: none;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 2px;
	background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
	transition: all .218s ease 0s;
}
a.button15:hover {
color: rgb(24,24,24);
border: 1px solid rgb(198,198,198);
background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

a.button15:active {
color: rgb(51,51,51);
border: 1px solid rgb(204,204,204);
background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}

.form-label {
    display: inline-block;
    min-width: 60px;
    vertical-align: top;
	text-align: center;
	padding: 0.5em 1em;
}

.form-label-login {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;

}

.c-button {
	appearance: none;
	border: 0;
	border-radius: 5px;
	background: #4676D7;
	color: #fff;
	padding: 8px 16px;
	font-size: 16px;
  }

.c-button:hover {
	background: #1d49aa;
  }
  
.c-button:focus {
	outline: none;
	box-shadow: 0 0 0 4px #cbd6ee;
  }

.c-button2 {
	appearance: none;
	border: 0;
	border-radius: 5px;
	background: hsl(0, 65%, 57%);
	color: #fff;
	padding: 8px 16px;
	font-size: 16px;
  }

.c-button2:hover {
	background: hsl(354, 89%, 36%);
  }
  
.c-button2:focus {
	outline: none;
	box-shadow: 0 0 0 4px #cbd6ee;
  }

.form-error {
    list-style: none;
    padding: 0;
    color: #CC0000;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	float: right;
}

.button:hover {
	background:#cbd6ee;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.modal{
	padding: 50px;
	background: #ccc;
	position: fixed; top: 50%; left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  }
