{% extends "postt/base.html" %}

{% block content %}
<h2>Add new order</h2>

<form  method="POST" >
    {% csrf_token %}
    {% for f in form %}
    <label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}
    {% endfor %}
<button class="c-button" type="submit" >Submit</button>
</form>


<h2>Table of orders and dates of delivery</h2>
<table class="simple-little-table" cellpadding="1" cellspacing="1">
    <tr>
        <th >Num</th>
        <th >Number</th>
        <th >Price_dol</th>
        <th >Date</th>
        <th >Price_rub</th>
    </tr>
    {% for p in kurs_p %}
    <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.number }}</td>
        <td>{{ p.price_dol }}</td>
        <td>{{ p.date }}</td>
        <td>{{ p.price_rub}}</td>
        <td><a href="{% url 'delete_row' p.id %}" class="button15" type="submit">Delete</a></td>
        <td><a href="{% url 'update_row' p.id %}" class="button15" type="submit">Change</a></td>
    </tr>
    {% endfor %}
</ul>
        
{% endblock content %}